@keyframes button-products-list {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
/* @-webkit-keyframes loader {
    to {
        visibility: visible;
        transform: rotate(1turn);
        opacity: .3;
    }
}

@keyframes loader {
    to {
        visibility: visible;
        transform: rotate(1turn);
        opacity: .3;
    }
}

@-webkit-keyframes font-page {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes font-page {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader-logo {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        letter-spacing: 0.5em;
        opacity: 0;
    }
}

@-webkit-keyframes anim-heart {
    0% {
        opacity: .1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim-heart {
    0% {
        opacity: .1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes anim_menu {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anim_menu {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes anim-scale-check {
    0% {
        transform: scaleX(0.1);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

@keyframes anim-scale-check {
    0% {
        transform: scaleX(0.1);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

@-webkit-keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
} */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: "Titillium Web", sans-serif;
}
body .header {
  font-family: "Lakki Reddy", cursive;
}
body .header__cartContainer {
  font-family: "Titillium Web", sans-serif;
}

.header {
  background: #303030;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5rem;
}
.header__logo--color, .header__cartContainer--color {
  color: #fff;
}
.header__logo {
  font-size: 2.5em;
}
.header__cartContainer {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
}
.header__cartName {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__cartName {
    display: block;
    padding-right: 0.8rem;
  }
}

.footer {
  width: 100%;
  background: #303030;
  color: #FFF;
  padding: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer .separation-line {
    display: none;
  }
}
.footer__block {
  width: fit-content;
}
@media screen and (min-width: 1200px) {
  .footer__block {
    display: flex;
    flex-direction: column;
    padding-right: 17rem;
  }
}
.footer__title {
  margin-bottom: 1rem;
}
.footer__link {
  display: flex;
  align-items: baseline;
}
.footer__link--color {
  color: #fff;
}
.footer__socialIcon {
  padding-right: 0.5rem;
}

.items-list {
  background: linear-gradient(to bottom, #f8deb0, #e2c491);
  padding: 3rem 3rem;
}
.items-list__title {
  margin-bottom: 1.5rem;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 3rem;
}
@media screen and (min-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  display: block;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 5px #4c4c4c;
  border-radius: 0.2rem;
  padding: 0.6rem;
  transform: scale(1);
  transition: all, 200ms;
  position: relative;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card__button {
  visibility: visible;
  animation: button-products-list 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.card__button {
  position: absolute;
  bottom: 50%;
  left: 30%;
  background: linear-gradient(to bottom, #fecbb4, #e1b9f8);
  border-radius: 2rem;
  padding: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  visibility: hidden;
}
.card__img {
  width: 100%;
  border-radius: 0.2rem;
}

.btn-nav {
  text-decoration: none;
  background-color: #321d62;
  border-radius: 1.1rem;
  padding: 0.625rem 0.937rem;
  text-align: center;
  transform: scale(1);
  transition: all 200ms ease-out;
  box-shadow: white 2px 2px 20px;
}
.btn-nav__text {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 300ms ease-out;
}
.btn-nav:hover {
  transform: scale(1.1);
  background-color: #e0d7f3;
  box-shadow: 4px 4px 2px #321d62;
}
.btn-nav:hover .btn-nav__text {
  color: #321d62;
}

.button {
  background-color: #44d9e6;
  border-radius: 0.5rem;
  border: white solid 1px;
}
.button__footer-icon {
  color: #321d62;
  font-size: 1.5em;
  padding-right: 0.25rem;
}
.button__footer-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #321d62;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
