.items-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-confirmation-img {
    width: 20%;
    margin: 0 auto;
}

.confirmation-details{
    text-align: center;
    font-size: 1.2em;
    line-height: 3rem;


    &--style{
        background-color: white;
        border-radius: .2rem;
        padding: .2rem;
        font-weight: bold;
        border: 1px solid pink;
    }
}