.footer {
   width: 100%;
   background: #303030;
   color: #FFF;
   padding: 1.5rem;

   @include screen-desktop {
      display: flex;
   }

   .separation-line{
      @include screen-desktop{
         display: none;
      }
   }

   &__block {
      width: fit-content;
      @include screen-desktop {
         display: flex;
         flex-direction: column;
         padding-right: 17rem;
      }

      &-title {
         margin-bottom: 1rem;
      }

      &-links {
         color: #FFF;
         line-height: 1.8em;
         width: fit-content;
      }

      &-social {
         display: flex;
         align-items: baseline;

         &__icon {
            padding-right: 0.8rem;
         }
      }
   }
}