.footer {
   width: 100%;
   background: #303030;
   color: #FFF;
   padding: 1.5rem;

   @include screen-desktop {
      display: flex;
   }

   .separation-line {
      @include screen-desktop {
         display: none;
      }
   }

   &__block {
      width: fit-content;

      @include screen-desktop {
         display: flex;
         flex-direction: column;
         padding-right: 17rem;
      }
   }

   &__title {
      margin-bottom: 1rem;
   }

   &__link{
      display: flex;
      align-items: baseline;

      &--color{
         color: #fff;
      }
   }

   &__socialIcon{
      padding-right: 0.5rem;
   }
}