.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem;

    &__logo--color,
    &__cartContainer--color {
        color: #303030;
    }

    &__logo {
        font-size: 2.5em;
    }

    &__cartContainer {
        display: flex;
        align-items: baseline;
    }

    &__cartName {
        font-size: 1.3em;
        font-weight: bold;
        display: none;

        @include screen-desktop {
            display: block;
            padding-right: 0.8rem;
        }
    }

    &__cartIcon {
        font-size: 1.8em;
        color: transparent;
        -webkit-text-stroke: 1px #303030;
    }
}