.btn-nav {
    text-decoration: none;
    background-color: $color-primary;
    border-radius: 1.1rem;
    padding: .625rem .937rem;
    text-align: center;
    transform: scale(1);
    transition: all 200ms ease-out;
    box-shadow: white 2px 2px 20px;

    &__text {
        color: white;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        transition: color 300ms ease-out;
    }

    &:hover {
        transform: scale(1.1);
        background-color: lighten($color: $color-primary, $amount: 65);
        box-shadow: 4px 4px 2px $color-primary;

        .btn-nav__text {
            color: $color-primary;
        }
    }
}