body, #color-select {
    font-family: 'Titillium Web', sans-serif;
    
    .header{
        font-family: 'Lakki Reddy', cursive;
       
        &__cartContainer{
            font-family: 'Titillium Web', sans-serif; 
        }
    }
}