$color-primary: #321d62;
$color-secondary: #44d9e6;
$color-tertiary: rgb(253, 169, 13);
$color-text : #000;
$color-shadow : rgb(190, 190, 190);
$color-background: #F4F4F4;
$color-footer: #353535;

$cards-shadow :1px 1px 5px rgb(76, 76, 76);